<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<!--     <div class="container"> -->
<!--         <div class="navbar-header"> -->
<!--             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> -->
<!--                 <span class="sr-only">Toggle navigation</span> -->
<!--                 <span class="icon-bar"></span> -->
<!--                 <span class="icon-bar"></span> -->
<!--                 <span class="icon-bar"></span> -->
<!--             </button> -->
<!--             <a class="navbar-brand" href="/">{{ .Site.Title }}</a> -->
<!--         </div> -->
<!--         <div id="navbar" class="navbar-collapse collapse"> -->
<!--             <ul class="nav navbar-nav navbar-right"> -->
<!--                 {{ range .Site.Menus.header }} -->
<!--                     <li> -->
<!--                         <a href="{{ .URL }}"> -->
<!--                             {{ .Name }} -->
<!--                         </a> -->
<!--                     </li> -->
<!--                 {{ end }} -->
<!--             </ul> -->
<!--         </div> -->
<!--     </div> -->
<!-- </nav> -->

<header role="banner">
    <a href="/"><img id="logo-main" src="/img/earthlyhumans_logo.png" alt="Logo Thing main logo"></a>
    <figure id="header-grass2"></figure>
    <nav id="navbar-primary" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- <div class="navbar-header"> -->
            <!--     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse"> -->
            <!--         <span class="sr-only">Toggle navigation</span> -->
            <!--         <span class="icon-bar"></span> -->
            <!--         <span class="icon-bar"></span> -->
            <!--         <span class="icon-bar"></span> -->
            <!--     </button> -->
            <!-- </div> -->
            <!-- <div class="collapse navbar-collapse" id="navbar-primary-collapse"> -->
            <div class="navbar" id="navbar-primary-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/post/">Archive</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header><!-- header role="banner" -->
