<!DOCTYPE html>
<html lang="en">
<!-- ============================================================================================-->
<!-- **psstt** This is a secret page. You're not supposed to see this code! -->
<!-- Go away! Last Warning! -->
<!-- DAMN! You're a badass. -->
<!-- Using minimal css framework: http://github.com/miteshninja/sakura -->
<!-- ============================================================================================-->
<head>
    <!-- Config -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content='computer,developer,programming,blog,mitesh shah,multiverse' />

    <!-- Information -->
    {% comment %} <title>{{ page.title }}</title> {% endcomment %}
    {% seo %}

    <!-- Assets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/sakura.css" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css" async>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/friendly.css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<body>
    <header class="site-header">
        <h1 class="site-title"><!--em>func</em--> <a href="/" class="no-border fancy-font">computable<span class="meta">(</span><em>verse</em><span class="meta">)</span></a> {</h1>
        <p class="meta fancy-font">/* <a href="/about/">about</a> | <a href="/blog/">archive</a> */
        </p>
    </header>
    <section class="site-main">
        <section class="content">
          {{ content }}
        </section>
    </section>
    <footer class="site-footer">
        <h1>}</h1> 
    </footer>
    <footer id="site-footer">
      <ul>
        <li><small><a class="fancy-font sakura-fade no-border" href="{{ site.baseurl }}/feed.xml">rss</a></small></li>
      </ul>
    </footer>
    {% include analytics.html %}
</body>
</html>
